:root {
  --primary-color-text: rgba(117, 117, 117, 1);
  --secondary-color-text: rgba(33, 33, 33, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --primary-bcg-color: #ffffff;
  --secondary-bcg-color: #2f303a;
  --third-bcg-color: rgba(245, 244, 250, 1);

  --primary-button-color: #f5f4fa;
  --accent-button-color: rgba(33, 150, 243, 1);
}

body {
  background-color: #fff;
  color: var(--primary-color-text);
}

ul {
  list-style: none;
}

/* index.html */
/* Header */

.link {
  color: var(--secondary-color-text);
}

.connection {
  color: var(--primary-color-text);
}

.connection:hover,
.link:hover,
.connection:focus,
.link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background: var(--secondary-bcg-color);
}

.hero-title {
  color: white;
}

.hero-link {
  background: var(--third-bcg-color);
  color: var(--secondary-bcg-color);
}

.hero-link:hover {
  background: var(--accent-color);
  color: white;
}

/* Team */

.team {
  background: var(--third-bcg-color);
}

.team-item {
  background: var(--primary-bcg-color);
}

.team-title,
.team-name {
  color: var(--secondary-color-text);
}

/* Footer */

.footer {
  background: var(--secondary-bcg-color);
}

.footer-connection {
  color: rgba(255, 255, 255, 0.6);
}

.footer-connection:hover,
.footer-connection:focus {
  color: var(--accent-color);
}

.advantages-title,
.doing-title,
.link {
  color: var(--secondary-color-text);
}

.address {
  color: white;
}

/* portfolio.html */
/* Filter */

.filter-item {
  background: var(--primary-button-color);
  color: var(--secondary-color-text);
}

.filter-item:hover,
.filter-item:focus {
  background: var(--accent-button-color);
  color: white;
}

.cards-title {
  color: var(--secondary-color-text);
}
